html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #292828;
  color: #050505;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 25px;
  /* color: #f5f5f5; */
  background: lightblue;
  cursor: pointer;
}

input {
  background: #f5f5f5;
  color: #292828;
}

* {
  box-sizing: border-box;
}

hr {
  height: 1px;
  background-color: lightblue;
  border: none;
}
